name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: elquentaro/devcontainer:latest@sha256:710eb1701f02622eb73603e3241fad861f338db9ddb35a4e91df2fe7dd58e66e
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5

      - name: Fetch dependencies
        run: cargo fetch --locked

      - run: mkdir coverage
      - run: cargo llvm-cov --workspace --all-features --codecov --output-path coverage/codecov.json

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: coverage
          path: coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/codecov.json
          fail_ci_if_error: true
