name: Smoke

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  smoke-test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8

      - name: Build CLI
        run: cargo build -p devcontainer-cli

      - name: Bring up devcontainer
        run: cargo run -p devcontainer-cli -- up --skip-post-create --skip-post-attach

      - name: Execute dummy command in devcontainer
        run: cargo run -p devcontainer-cli -- exec -- echo "hello from devcontainer"

      - name: Final devcontainer cleanup
        if: always()
        run: cargo run -p devcontainer-cli -- down --remove-volumes --remove-unknown

  smoke-test-windows:
    name: Test (Windows)
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8

      - name: Build CLI
        run: cargo build -p devcontainer-cli

      - name: Check CLI version
        run: cargo run -p devcontainer-cli -- version
